body {
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif, monospace;
    font-size: 15px;
    width: 100%;
    margin: 0;
}

button {
    background-color: antiquewhite;
    box-shadow: 3px 3px 3px 3px #c0c0c0;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
    padding: 10px 20px;
    margin: 10px;
    height: 120px;
    width: 300px;
    padding: 10px 20px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    font-style: normal;
    text-shadow: 3px 3px 3px fuchsia;
    border-color: greenyellow;
    box-shadow: 3px 3px 3px 3px bisque;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    font-size: 21px;
    height: 360px;
    width: 100%;
    padding: 0 10px;
    position: static;
    top: 0;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 1px 5px 0px #000000;
}

header .left-content {
    flex: 0 0 21%; /* Ocupa el 30% del ancho */
    display: flex;
    align-items: center;
}

header .right-content {
    flex: 1 1 79%; /* Ocupa el resto del espacio */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 18px;
    margin-left: 9px;
    padding-right: 9px;
}

header .right-content a {
    margin-left: 9px; /* Margen entre los botones */
}

.logo_img {
    border-radius: 100% 100% 100% 100%;
    box-shadow: #c0c0c0 6px 6px 6px 2px;
    width: 300px;
    height: 300px;
    margin-left: 60px;
}

.cover_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 0px 0px 0px;
    position: relative;
    box-shadow: 3px 3px 3px 3px #C0C0C0;
}