body {
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif, monospace;
    font-size: 15px;
    width: 100%;
    margin: 0;
}

button {
    background-color: antiquewhite;
    box-shadow: 3px 3px 3px 3px #c0c0c0;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
    padding: 10px 20px;
    margin: 10px;
    height: 120px;
    width: 540px;
    padding: 10px 20px;
    border-radius: 15px 15px 15px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
    color: fuchsia;
    font-style: bold;
    border: 9px solid greenyellow;
    box-shadow: 3px 3px 3px 3px bisque;
    cursor: hand;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    font-size: 21px;
    height: 360px;
    width: 100%;
    padding: 0 10px;
    position: static;
    top: 0;
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 1px 5px 0px #000000;
}

header .left-content {
    flex: 0 0 21%; /* Ocupa el 30% del ancho */
    display: flex;
    align-items: center;
}

header .right-content {
    flex: 1 1 79%; /* Ocupa el resto del espacio */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
    margin-left: 9px;
    padding-right: 9px;
}

header .right-content a {
    margin-left: 9px; /* Margen entre los botones */
}

.logo_img {
    border-radius: 100% 100% 100% 100%;
    box-shadow: #c0c0c0 6px 6px 6px 2px;
    width: 300px;
    height: 300px;
    margin-left: 60px;
}

h1 {
    font-size: 45px;
    color: #000000;
    text-align: left;
    padding-left: 12px;
    margin-left: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    text-shadow: 3px 3px 3px #c0c0c0;
}

p, a {
    font-size: 21px;
    color: #000000;
    text-align: justify;
    font-family: Georgia, monospace;
    font-style: normal;
}

.right_bar {
    width: 10%;
    background-color: #ffffff;
    box-shadow: #c0c0c0 6px 6px 6px 2px;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
}

.right_bar h1 {
    margin-top: 0;
}

.left_bar {
    width: 90%;
    background-color: beige;
    padding: 20px;
    box-shadow: #c0c0c0 6px 6px 6px 2px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.left_bar h1 {
    margin-top: 0;
}